{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Aniketh Sharma</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Aniketh Sharma.
                    
                     I am a student of Euro School in class 9. My main focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                    </p>
             </center>
            <div>
                <h5>Email : <a href="mailto:sketch51.businessemail@gmail.com">sketch51.businessemail@gmail.com</a></h5><br>

        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anand Ishan </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anand Ishan . I am a student of class 9 having experience in HTML, C++, Python etc
                    
                    
                </p>
            </center>
            <div>
                <h5>Email : <a href="mailto:addyishan6@gmail.com">addyishan6@gmail.com</a></h5><br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}